#tix-attendees {
  margin-top: 40px;

  .tix-attendee-list {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;

    .page-slug-sponsors & {
      justify-content: flex-start;
    }

    li {
      text-align: center;
      width: 33%;
      height: auto;
      margin-bottom: 60px;
    }
  }

  .avatar {
    float: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .tix-attendee-name {
    margin-left: 0;
    font-size: 1rem;
    font-weight: 700;
  }

  .tix-attendee-twitter {
    margin-left: 0;
  }

  @media screen and (min-width: 48rem) {
    .tix-attendee-list {
      li {
        width: 25%;
      }
    }
  }

  @media screen and (min-width: 60rem) {
    .tix-attendee-list {
      li {
        width: 20%;
      }
    }
  }

  @media screen and (min-width: 70rem) {
    .tix-attendee-list {
      li {
        width: 16%;
      }
    }
  }
}
