button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.more-link {
  display: inline-block;
  background: $medBlue;
  color: #fff;
  font-size: 1.125em;
  padding: 1rem 1.25rem !important;
  border: none;
  border-radius: 3px;
  width: 100%;
  text-decoration: none;

  @media screen and (min-width: 30rem) {
    width: auto;
    min-width: 10em;

    &:hover {
      background: $lightBlue;
      color: #fff;
    }

    &:visited {
      color: #fff;
    }
  }
}
