button:not(.menu-toggle):not(.tix_other_payment_options):not(.dropdown-toggle),
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.more-link {
  display: inline-block;
  background: $medBlue;
  color: #fff;
  font-size: 1.125em;
  padding: 1rem 1.25rem !important;
  border: none;
  border-radius: 3px;
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;

  &:not(.more-link):not(.tix-checkout-button):after {
    content: "→";
    display: inline-block;
    transition: all .15s ease-out;
    margin-left: 5px;
    position: relative;
    left: 0;
  }

  @media screen and (min-width: 30rem) {
    width: auto;
    min-width: 10em;

    &:hover {
      background: $lightBlue !important;
      color: #fff;

      &:not(.more-link):after {
        left: 5px;
      }

    }

    &:visited {
      color: #fff;
    }
  }
}

.blog .more-link {
  width: calc(100% - 1.875em);

  @media screen and (min-width: 30rem) {
    width: auto;
    min-width: 10em;
  }
}
