form {
  .contact-submit {
    padding-left: 0;
  }

  table.tix_tickets_table td,
  table.tix_tickets_table th {
    padding: 1rem;
  }

  table.tix_tickets_table th {
    font-weight: 700;
  }

  button {
    background: $medBlue;
    color: #fff;
    font-size: 1em;
    padding: .5rem 1rem;
  }
}
