form {
  .contact-submit {
    padding-left: 0;
  }
}

.comment-form-cookies-consent label,
.comment-subscription-form label {
  margin-left: .5em;
}

@media screen and (min-width: 48rem) {
  .contact-form {
    .grunion-field-wrap:not(.grunion-field-textarea-wrap) {
      width: calc(50% - 8px);
      float: left;

      &:nth-child(odd) {
        margin-right: 8px;

        .page-id-17 &,
        .page-id-19 & {
          margin-right: 0;
          margin-left: 8px;
        }
      }

      &:nth-child(even) {
        margin-left: 8px;

        .page-id-17 &,
        .page-id-19 & {
          margin-left: 0;
          margin-right: 8px;
        }
      }

      input {
        width: 100%;
      }
    }

    .grunion-field-textarea-wrap {
      clear: both;
    }
  }

  .comment-form {
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      width: 50%;
      float: left;
    }
    .comment-form-url {
      width: 100%;
    }
  }
}
