
.widget_eu_cookie_law_widget {
  max-width: 50rem;
}

#eu-cookie-law {
  .accept {
    background-color: $medBlue;
    color: #fff !important;
    padding: .5rem 1rem !important;

    :hover {
      color: #fff;
    }
  }
}

@media (max-width: 30rem) {
  #eu-cookie-law {
      padding-bottom: 70px;
  }
}
