.wp-block-jetpack-subscriptions {
  #subscribe-email input {
    width: 100%;
  }
}

@media screen and (min-width: 30rem) {
	.wp-block-jetpack-subscriptions {
    form {
      display: flex;
      align-items: baseline;

      #subscribe-email {
        width: auto;
      }
    }
  }
}
