.wcorg-sponsor {
  margin: 2em 0;

  img {
    margin-left: 1rem;
    max-width: calc(100% - 2rem);
    height: auto;
  }
}

.page-slug-sponsors .tix-clear {
  display: none;
}

@media screen and (min-width: 30rem) {
  .wcorg-sponsor {
    margin: 3em 0;

    img {
      max-width: 18rem;
    }
  }
}
