.tix-js form > p {
  padding: 0;
  margin-top: 0;
}

table.tix_tickets_table {
	width: 100%;
  display: inline-table;
	margin: 1rem auto 2rem auto;
  border: 1px solid $medBlue;
  border-collapse: separate;
  white-space: unset;

  @media screen and (max-width: 48rem) {
    &.tix-order-summary,
    &.tix-attendee-form {
      table-layout: fixed;
    }
  }

	th {
		color: $white;
		background: $medBlue;
    font-weight: 700;
  }

  tr:not(:first-child) {
    border-top: solid 1px $lightestBlue;
  }

	td, th {
		text-align: left;
    padding: 0.5rem;

    @media screen and (min-width: 28rem) {
      padding: 1rem;
    }
  }

  input {
    margin-right: 10px;
  }

	.tix-ticket-title {
		color: $medBlue;
	}
}

table.tix-order-summary {
  .tix-column-description {
    width: auto;
  }
}

table.tix-attendee-form {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea,
  select {
    width: 100%;
  }
}

.tix-column-remaining {
	display: none;
}



@media screen and (min-width: 30rem) {
  table.tix_tickets_table {
    border-collapse: collapse;
  }
}
