.boxes {
  &.wp-block-columns {
    background: $backgroudColour;
    margin-top: 2rem;
  }

  .wp-block-column {
    background: $white;
    text-align: center;
    padding: 0.5em;
    border: 1px solid $borderColour;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__title {
    &:before {
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      margin: 0.7em auto;
      width: 50px;
      height: 50px;
      content: "";
    }

    &__volunteers:before {
      background-image: url("https://2019.dublin.wordcamp.org/files/2019/07/volunteer-small.png");
    }

    &__speakers:before {
      background-image: url("https://2019.dublin.wordcamp.org/files/2019/07/speakers.png");
    }

    &__ticket:before {
      background-image: url("https://2019.dublin.wordcamp.org/files/2019/07/tickets.png");
    }
  }

  @media screen and (min-width: 30rem) {
    padding-left: 1rem;
    padding-right: 1rem;

    .wp-block-column {
      background: $white;
      text-align: center;
      padding: 0.5em;
      border: 1px solid $borderColour;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media screen and (min-width: 49rem) {
    justify-content: space-between;
  }
}
