.tix-js form > p {
  padding: 0;
  margin-top: 0;
}

table {
	td, th {
		text-align: left;
    padding: 0.5rem;

    @media screen and (min-width: 30rem) {
      padding: 1rem;
    }
  }

	th {
    font-weight: 700;
  }
}

table.tix_tickets_table {
	width: 100%;
  display: inline-table;
  table-layout: fixed;
	margin: 1rem auto 2rem auto;
	border: 1px solid $medBlue;

	thead {
		color: $white;
		background: $medBlue;
	}

  tbody tr:not(:first-child) {
    border-top: solid 1px $lightBlue;
  }

  // td {
  //   display: block;
  //   box-sizing: border-box;
  //   clear: both
  // }

	.tix-ticket-title {
		color: $medBlue;
	}
}

table.tix-order-summary {
  overflow-x: scroll;
}

table.tix-attendee-form {
  table-layout: fixed;

  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea,
  select {
    width: 100%;
  }

    // td.tix-left {
    //   width: calc( 60% - 2rem) !important;
    // }

    // td.tix-right {
    //   width: calc( 40% - 2rem) !important;
    // }
}

.tix-column-remaining {
	display: none;
}
