.tix-js form > p {
  padding: 0;
  margin-top: 0;
}

table.tix_tickets_table {
	width: 100%;
  display: inline-table;
	margin: 1rem auto 2rem auto;
  border: 1px solid $medBlue;

  @media screen and (max-width: 48rem) {
    table-layout: fixed;
  }


	thead {
		color: $white;
		background: $medBlue;
	}

  tr:not(:first-child) {
    border-top: solid 1px $lightBlue;
  }

	td, th {
		text-align: left;
    padding: 0.5rem;

    @media screen and (min-width: 28rem) {
      padding: 1rem;
    }
  }

	th {
    font-weight: 700;
  }

	.tix-ticket-title {
		color: $medBlue;
	}
}

table.tix-order-summary {
  @media screen and (max-width: 30rem) {
    display: block;
    overflow-x: scroll;
  }
}

table.tix-attendee-form {
  // TODO: Make td on mobile 100%

  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea,
  select {
    width: 100%;
  }
}

.tix-column-remaining {
	display: none;
}
